#contact-section{
  position: relative;
  background-color: rgba(23, 204, 104, 0.4);
  color: var(--background-color);
  height: clamp(600px, 100vw, 1250px);
  padding: 160px 8% 0 8%;
}

#contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/images/contact-section-background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#contact-section .section-heading{
  font-size: var(--contactSection-heading-fSize);
  line-height: 1.2em;
  margin-bottom: 1rem;
}

#contact-section .inform-txt{
  font-size: var(--contactSection-body-fSize);
  margin-bottom: 1.2rem;
}

#contact-section .join-btn{
  font-size: var(--contactSection-joinBtn-fSize);
  font-weight: 600;
  color: var(--background-color);
  width: clamp(96px, 12vw, 219px);
  height: clamp(32px, 4vw, 57px);
  border: 1.5px solid var(--background-color);
  border-radius: 8px;
  background-color: #17CC6B;
}

/* appointment form */
.appointment-form{
  position: absolute;
  top: 90%;
  left: 5%;
  right: 5%;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  max-width: 525px;
  padding: 4%;
  padding-top: 4rem;
  margin-inline: auto;
}

.appointment-form .heading{
  font-size: var(--appointmentForm-heading-fSize);
  line-height: 1.2em;
  margin-bottom: 1.4rem;
}

.appointment-form .reminder-txt{
  font-size: var(--appointmentForm-reminder-fSize);
  color: #565656;
  padding: 0 2rem;
  margin-bottom: 1.3rem;
}

.appointment-form .text-header{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.appointment-form select{
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */

  /* Custom dropdown icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23000000" d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: clamp(20px, 6vw, 25px) ;
}

.appointment-form select,
.appointment-form input,
.appointment-form textarea{
  width: 100%;
  background-color: rgba(19, 187, 97, 0.3);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.appointment-form select,
.appointment-form input::placeholder{
  font-size: var(--appointmentForm-inputLabel-fSize);
  word-wrap:break-word;
  font-weight: 500;
  color: var(--secondary-color);
}

.appointment-form .group,
.appointment-form input{
  border: none;
  border-radius: 15px;
  width: 100%;
}

.appointment-form .group{
  display: flex;
  flex-direction: column;
}

.appointment-form label{
  text-align: left;
  font-size: var(--appointmentForm-inputLabel-fSize);
}

.symptoms-txt-erea{
  width: 100%;
  height: 10rem;
}

/* custom style for swine Genders and Swine age  */
.swine-genders{
  display: flex;
  gap: 0.9rem;
}


/* custom style for schedule, time and heads */
.appointment-form .group.schedule-time-heads{
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 1rem;
}

.appointment-form .group #appointment-schedule,
.appointment-form .group #time{
  color: rgba(19, 187, 97, 0);
}

.appointment-form .group.schedule-time-heads label{
  position: relative;
  display: block;
  font-size: var(--appointmentForm-inputLabel-fSize);
  margin-bottom: 1rem;
  border-radius: 8px;
}

.appointment-form .group.schedule-time-heads input{
  position: relative;
  margin-bottom: 0;
  border-radius: 8px;
  height: fit-content;
}

.appointment-form .group.schedule-time-heads label .txt-label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  text-align: left;
}

.appointment-form .group.schedule-time-heads label:first-child .txt-label{
  left: 0.7rem;
}

.appointment-form .group.schedule-time-heads label:nth-child(2) .txt-label{
  left: 0.7rem;
}

.appointment-form .submit-btn{
  font-size: var(--appointmentForm-submit-btn-fSize);
  font-weight: 600;
  color: var(--background-color);
  width: 100%;
  height: 54px;
  border: none;
  border-radius: inherit;
  background-color: #13BB61;
  margin-top: 1rem;
}

#time, #appointment, #pig-type, #appointment-schedule, #municipality, #barangay, .submit-btn {
  cursor: pointer;
}


@media(width > 25rem /*400px*/){
  .appointment-form{
    top: 80%;
  }

  .appointment-form select,
  .appointment-form input{
    margin-bottom: 1.5rem;
    padding: 1.3rem 1rem;
  }
  .appointment-form .group{
    flex-direction: row;
    gap: 1rem;
  }

  .appointment-form .group #appointment{
    width: 150%;
  }

  .appointment-form .group #municipality{
    width: 65%;
  }

  .appointment-form input{
    padding-left: 1.5rem;
  }

  .appointment-form .group.schedule-time-heads{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    column-gap: 1rem;
    row-gap: 0rem;
  }

  .appointment-form .group.schedule-time-heads input{
    width: 100%;
  }

  .appointment-form .group.schedule-time-heads label:first-child .text{
    left:  3.5rem;
  }
  
  .appointment-form .group.schedule-time-heads label:nth-child(2) .text{
    left: 2.1rem;
  }
}


@media(width > 59.375rem /*950px*/){
  .appointment-form .group.schedule-time-heads{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 1rem;
  }
}

@media(width > 62.5rem /*1000px*/){
  .appointment-form .group.schedule-time-heads label:first-child .text{
    left:  23%;
  }
}


@media(width > 75rem /*1200px*/){
  #contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px ;
    padding-bottom: 120px;
  }

  .appointment-form{
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    padding: 1.7%;
    padding-bottom: 4rem;
    margin-inline: 0px;
  }
  
  .appointment-form select,
  .appointment-form input{
    border-radius: 0px;
  }

  .appointment-form .group.schedule-time-heads{
    display: grid;
    grid-template-columns: 4.5fr 21% 1.9fr;
    gap: 1rem;
  }

  .appointment-form .group.schedule-time-heads label .text{
    top: 47%;
  }

  .appointment-form .group.schedule-time-heads label:first-child .text{
    left:  46%;
    width: 80%;
  }
}
